/* *{
    margin: 0%;
} */
/* }
body{
    display: flex;

} */
/* .ahmed{
    color: black;
} */
/* div{
    font-style: italic;
    font-size: 60px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: aquamarine  gray rosybrown sandybrown;
    text-shadow: 1px  1px 1px rgb(87, 70, 70) ;
    
    
} */